
<mat-card class="mat-elevation-z12">
    <mat-card-title class="card-container">
        Time Tracker App
    </mat-card-title>
    <div class="col-md-4 mx-auto">
        
            <div class="card-body">
                <form (submit)="signUp()">
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="user.firstname" placeholder="Firstname" name="firstname">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="user.lastname" placeholder="Lastname" name="lastname">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="user.email" placeholder="Email" name="email">
                    </mat-form-field>
                    <mat-form-field style="padding-bottom: 10px;">
                        <input matInput type="password" [(ngModel)]="user.password" placeholder="Password" name="password">
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: #404044;">
                        SignUp
                    </button>
                    <br>
                    <p class="text">Already a member? <a class="text1" routerLink = "/signin">SIGN IN</a></p>
                </form>
            </div>
    </div>
</mat-card>